## Exercise 1

In [5]:
my_name='Bo'
print(my_name)

Bo

## Exercise 2

In [6]:
age=33
print(my_name)

Bo

## Exercise 3

In [7]:
julia_age= 32
age_diff=age-julia_age
print(age_diff)

1

## Exercise 4

In [ ]:
number=21
age21=age-number
if age21<21:
    print("You are not older than 21")
else:
    print("You are older than 21")

You are not older than 21

## Exercise 5

In [9]:
if julia_age<age:
    print('Julia is younger than you')
elif julia_age==age:

    print('You are the same age as Julia')

else:
    print('Julia is older than you')

Julia is younger than you

## Exercise 6

In [10]:
name_list=['Bo' , 'Bruno', 'Bishnu ', 'Marcos ','Rahul','Janina ']
name_list.sort
print(name_list)

print(name_list[-1])

new_list =[print(i) for i in name_list]
# print([i for i in name_list])
# for i in name_list:
#     print(i)

['Bo', 'Bruno', 'Bishnu ', 'Marcos ', 'Rahul', 'Janina ']
Janina
Bo
Bruno
Bishnu
Marcos
Rahul
Janina

## Exercise 7

In [11]:
age_list=[20, 21,22,23,24]
for i in age_list:
    print(i,end=' ')
print()    
    # if i %2==0:
    #     print(i)
even_list= [i for i in age_list if i %2==0]
for i in even_list:
    print(i,end=' ')
# [print(i) for i in age_list if i %2==0]

20 21 22 23 24
20 22 24

## Exercise 8

In [12]:
age_list=[20, 21,22,23,24]
smallest = min(age_list)
print(smallest)

20

## Exercise 9

In [ ]:
age_list=[20, 21,22,23,24]
BIGGEST = max(age_list)
print(BIGGEST)

24

## Exercise 10

In [10]:
customers= [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
from datetime import datetime
for i in customers:
    aa=datetime.now().year
    print(aa-i)

26
30
20
15
18
19
31
29
46
17

## Exercise 11

In [ ]:
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]
from datetime import datetime



for i in customer_list:
    name=i['name']
    year=i['age']
    age= datetime.now().year - year
    print(name,age)
    print(f"{name} is {age} years old")

<built-in method now of type object at 0x00007FF9C1269DE0>
Bob 26
Bob is 26 years old
Jack 30
Jack is 30 years old
Lisa 20
Lisa is 20 years old
Maria 15
Maria is 15 years old
Ben 18
Ben is 18 years old
Emma 19
Emma is 19 years old
Oscar 31
Oscar is 31 years old
Amy 29
Amy is 29 years old
Paul 46
Paul is 46 years old
Etta 17
Etta is 17 years old

## Exercise 12

In [4]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

ages.sort()
print(ages)

ages_filted=[x for x in ages[1:-1] ]
# ages_filted=[x for x in ages ]

# ages_filtered = [x for x in ages if x != min(ages) and x != max(ages)]
# # ages_filted=[i for i in ages if ages.remove()]
print(ages_filted)

[9, 11, 12, 13, 14, 20, 23, 24, 25, 40]
[11, 12, 13, 14, 20, 23, 24, 25]

Exercise 13

In [17]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

# list=[x for x in berlin == y for y in munich]
commonlist=[]
for i in berlin:
    for j in munich:
        if i==j:
            commonlist.append(i)
    


print(commonlist)

[15, 13, 16, 18, 19, 10]

## Exercise 14

In [5]:
ages=[15, 13, 16, 18, 19, 15, 10]
ages_unique = []
for i in ages:
    if i not in ages_unique:
        ages_unique.append(i)
print(ages_unique)

[15, 13, 16, 18, 19, 10]