## Exercise 1

In [ ]:
my_name='Bo'
print(my_name)

## Exercise 2

In [ ]:
age=33
print(my_name)

## Exercise 3

In [ ]:
julia_age= 32
age_diff=age-julia_age
print(age_diff)

## Exercise 4

In [ ]:
number=21
age21=age-number
if age21<21:
    print("You are not older than 21")
else:
    print("You are older than 21")

## Exercise 5

In [ ]:
if julia_age<age:
    print('Julia is younger than you')
elif julia_age==age:

    print('You are the same age as Julia')

else:
    print('Julia is older than you')

## Exercise 6

In [ ]:
name_list=['Bo' , 'Bruno', 'Bishnu ', 'Marcos ','Rahul','Janina ']
name_list.sort
print(name_list)

print(name_list[-1])

new_list =[print(i) for i in name_list]
# print([i for i in name_list])
# for i in name_list:
#     print(i)

## Exercise 7

In [34]:
age_list=[20, 21,22,23,24]
for i in age_list:
    print(i,end=' ')
print()    
    # if i %2==0:
    #     print(i)
even_list= [i for i in age_list if i %2==0]
for i in even_list:
    print(i,end=' ')
# [print(i) for i in age_list if i %2==0]

20 21 22 23 24
20 22 24

## Exercise 8

In [43]:
age_list=[20, 21,22,23,24]
smallest = min(age_list)
print(smallest)

20

## Exercise 9

In [44]:
age_list=[20, 21,22,23,24]
smallest = max(age_list)
print(smallest)

24

## Exercise 10

In [46]:
customers= [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
for i in customers:
    print(i)

1999
1995
2005
2010
2007
2006
1994
1996
1979
2008

## Exercise 11

In [56]:
customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]

for i in customer_list:
    name=i['name']
    age=i['age']
    print(name,age)
    print(f"{name} is {age} years old")

Bob 1999
Bob is 1999 years old
Jack 1995
Jack is 1995 years old
Lisa 2005
Lisa is 2005 years old
Maria 2010
Maria is 2010 years old
Ben 2007
Ben is 2007 years old
Emma 2006
Emma is 2006 years old
Oscar 1994
Oscar is 1994 years old
Amy 1996
Amy is 1996 years old
Paul 1979
Paul is 1979 years old
Etta 2008
Etta is 2008 years old

## Exercise 12

In [67]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

ages.sort()
print(ages)

ages_filted=[x for x in ages[1:-1] ]
# ages_filted=[x for x in ages ]

# ages_filtered = [x for x in ages if x != min(ages) and x != max(ages)]
# # ages_filted=[i for i in ages if ages.remove()]
# print(ages_filtered)

[9, 11, 12, 13, 14, 20, 23, 24, 25, 40]

Exercise 13

In [ ]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

# list=[x for x in berlin == y for y in munich]
commonlist=[]
for i in berlin:
    for j in munich:
        if i==j:
            commonlist.append(i)
    


print(commonlist)

AttributeError: 'NoneType' object has no attribute 'append'